:root {
    --bg-color : rgb(168, 255, 241);
    --calFrame : #3a4452;
    --buttonHover : #2b333d;
    --operText : rgb(31, 201, 231);
    --textColor : white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: var(--calFrame);
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
}
#display {
    margin: 10px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    font-size: 45px;
    color: var(--textColor);
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: var(--textColor);
    font-weight: bold;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, .2);
    background: transparent;
    cursor: pointer;
}
#equal_to {
    width: 145px;
    color: var(--textColor);
    background-color: var(--operText);
}
#equal_to:hover {
    opacity: .7;
}
button:hover {
    background-color: var(--buttonHover);
}
.operators, .oper{
    color: var(--operText);
}